// -------------------------
// = Variables
// -------------------------


// Grid Padding & Max Width


$grid-padding: .625em; 		// @note: The padding gutter! equiv. 10px
$max-width: 70em;			// @note: 1120px



// Break-Points


$width-small: 30em; 		// @note: 480px
$width-medium: 45em;		// @note: 720px
$width-large: 60em; 		// @note: 960px
$width-wide: 75em;	 		// @note: 1200px
$width-xwide: 87.5em;	 	// @note: 1400px


// Colors


$primary-color: #E5523D;
$primary-color-high: #D5412C;	// high-contrast
$secondary-color: #A1DE64;
$secondary-color-high: #4D840D;	// high-contrast

$comp1-color: #F1FFAB;
$comp2-color: #5BD5FF;
$comp2-color-high: #296CBA;		// high-contrast
$comp3-color: #F57523;
$comp3-color-high: #DC380B;		// high-contrast

$text-color: #4A4A4A;
$bg-color: #fff;


// Fonts

$fontface-regular: url('fonts/asap-regular-webfont.woff2') format('woff2'), url('fonts/asap-regular-webfont.woff') format('woff');
@font-face {
	font-family: 'Regular';
	src: $fontface-regular;
	font-weight: normal;
	font-style: normal;
}

$fontface-italic: url('fonts/asap-italic-webfont.woff2') format('woff2'), url('fonts/asap-italic-webfont.woff') format('woff');	
@font-face {
	font-family: 'Italic';
	src: $fontface-italic;
	font-weight: normal;
	font-style: normal;
}

$fontface-bold: url('fonts/asap-medium-webfont.woff2') format('woff2'), url('fonts/asap-medium-webfont.woff') format('woff');
@font-face {
	font-family: 'Bold';
	src: $fontface-bold;
	font-weight: normal;
	font-style: normal;
}

$fontface-bolditalic: url('fonts/asap-mediumitalic-webfont.woff2') format('woff2'), url('fonts/asap-mediumitalic-webfont.woff') format('woff');
@font-face {
	font-family: 'BoldItalic';
	src: $fontface-bolditalic;
	font-weight: normal;
	font-style: normal;
}

$fontface-title: url('fonts/MiriamLibre-Bold.woff2') format('woff2'), url('fonts/MiriamLibre-Bold.woff') format('woff');
@font-face {
	font-family: 'Title';
	src: $fontface-title;
	font-weight: normal;
	font-style: normal;
}
$fontface-title-light: url('fonts/MiriamLibre-Regular.woff2') format('woff2'), url('fonts/MiriamLibre-Regular.woff') format('woff');
@font-face {
	font-family: 'Title-Light';
	src: $fontface-title-light;
	font-weight: normal;
	font-style: normal;
}


// Customize your Font-Stack

$font-stack: Helvetica, Arial, sans-serif;

// The Fonts

$font-title: 'Title', $font-stack;
$font-title-light: 'Title-Light', $font-stack;
$font-regular: 'Regular', $font-stack;
$font-italic: 'Italic', $font-stack;
$font-bold: 'Bold', $font-stack;
$font-bolditalic: 'BoldItalic', $font-stack;

$font-mono: 'Andale Mono', 'DejaVu Sans Mono', Courier, monospace;

